.row {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;

}

.box {
    border: 1px solid black;
    width: 95vw;
    padding: 20px;
    margin: 20px;

}

.content {
    padding-bottom: 10px;
}

/* .box img {
    width: 100%;
} */